body{
    margin:0;
    background:#000;
    font-family:'Cormorant Garamond', serif;
}

.loading-screen{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    background:radial-gradient(circle,#1b1f26,#000);
}

.logo{
    color:#fff;
    font-family:'Cinzel', serif;
    font-size:70px;
    letter-spacing:10px;
    text-shadow:0 0 15px #8d99a8;
}

.loading-text{
    color:#b8c0ca;
    font-size:30px;
    margin-top:10px;
    margin-bottom:40px;
}

.loading-screen a{
    text-decoration:none;
}

#enter{
    padding
